/* Estilos globales y configuraciones predeterminadas */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cuerpo de la página */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Evitar el desbordamiento horizontal */
}

/* Contenedor principal */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Modelo */
.modelo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* 100% de la altura de la pantalla */
}

.modelo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modelo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenido en la imagen */
  text-align: center;
  color: #fff;
  padding: 20px;
  max-width: 80%; /* Asegúrate de que el contenido no se desborde */
  z-index: 10;
}

.texto-principal {
  font-size: 3rem;
  font-weight: bold;
  color: #33d1cc;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
}

.texto-secundario {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
}

.texto-parrafo {
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.5;
  max-width: 600px;
}

.modelo-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #33d1cc;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modelo-btn:hover {
  background-color: #29b4b0;
}

/* Media Queries */

/* Para dispositivos más pequeños (tabletas) */
@media screen and (max-width: 768px) {
  .modelo-content {
    width: 90%; /* Hacer que el contenido ocupe un poco más de espacio en pantallas pequeñas */
  }

  .texto-principal {
    font-size: 2rem;
  }

  .texto-secundario {
    font-size: 1.5rem;
  }

  .modelo-btn {
    width: 100%;
  }
}

/* Para pantallas móviles pequeñas */
@media screen and (max-width: 480px) {
  .modelo-img {
    max-height: 50vh; /* Limitar la altura para dispositivos más pequeños */
  }

  .modelo-content {
    width: 95%;
  }

  .texto-principal {
    font-size: 1.8rem;
  }

  .texto-secundario {
    font-size: 1.3rem;
  }

  .texto-parrafo {
    font-size: 1rem;
  }

  .modelo-btn {
    padding: 12px;
    font-size: 1rem;
  }
}
